<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar">
    <nav class="left-menu" left-menu="true">
        <div class="logo-container">
            <a href="/" class="logo">
                <img src="../../static/common/img/logo-v2.png" th:src="@{/common/img/logo-v2.png}"
                     alt="OkTrueque"/>
                <img class="logo-inverse" src="/common/img/logo-inverse.png" alt="Clean UI Admin Template" />
            </a>
        </div>
        <div class="left-menu-inner scroll-pane">
            <ul class="left-menu-list left-menu-list-root list-unstyled">
                <li class="left-menu-list-submenu">
                    <a class="left-menu-link" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                        <span class="menu-top-hidden">Usuarios</span>
                    </a>
                    <ul class="left-menu-list list-unstyled">
                        <li>
                            <a class="left-menu-link" th:href="@{/users(status=0)}">
                                Nuevos
                            </a>
                        </li>
                        <li>
                            <a class="left-menu-link" th:href="@{/users(status=1)}">
                                Activos
                            </a>
                        </li>
                        <li>
                            <a class="left-menu-link" th:href="@{/users(status=2)}">
                                Eliminados
                            </a>
                        </li>
                        <li>
                            <a class="left-menu-link" th:href="@{/users(status=3)}">
                                Banneados
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="left-menu-list-submenu">
                    <a class="left-menu-link" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                        <span class="menu-top-hidden">Items</span>
                    </a>
                    <ul class="left-menu-list list-unstyled">
                        <li>
                            <a class="left-menu-link" th:href="@{/items(status=0)}">
                                Nuevos
                            </a>
                        </li>
                        <li>
                            <a class="left-menu-link" th:href="@{/items(status=1)}">
                                Activos
                            </a>
                        </li>
                        <li>
                            <a class="left-menu-link" th:href="@{/items(status=2)}">
                                Eliminados
                            </a>
                        </li>
                        <li>
                            <a class="left-menu-link" th:href="@{/items(status=3)}">
                                Banneados
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="left-menu-link" href="/categories">
                        <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                        <span class="menu-top-hidden">Categorias</span>
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="/tags">
                        <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                        <span class="menu-top-hidden">Tags</span>
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="/trueques">
                        <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                        <span class="menu-top-hidden">Trueques</span>
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="/complaints">
                        <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                        <span class="menu-top-hidden">Denuncias</span>
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="/comments">
                        <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                        <span class="menu-top-hidden">Comentarios</span>
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="/propuesta/inicio">
                        <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                        <span class="menu-top-hidden">Nueva Propuesta</span>
                    </a>
                </li>
                <li>
                    <a class="left-menu-link" href="/">
                        <i class="left-menu-link-icon icmn-home2"><!-- --></i>
                        <span class="menu-top-hidden">Dashboard</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>