<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>

</head>
<th:block layout:fragment="content">
<section class="page-content">
<div class="page-content-inner">
<section class="panel">
<div class="page-content-inner">
    <div class="panel-body">
    <div class="row">
                <div class="col-lg-12">
                    <h4>Denuncias</h4>

                    <br />
                    <div class="margin-bottom-50">
                        <table class="table table-hover nowrap" id="tbl-complaints" width="100%">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Estado</th>
                                <th>Denunciante</th>
                                <th>Denunciado</th>
                                <th>Descripcion</th>
                                <th>Tipo</th>
                                <th>Fecha</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="complaint : ${complaints}">
                                <td th:text="${complaint.id}"></td>
                                <td><span th:id="${'lbl-cmpl-status-' + complaint.id}" class="label label-info" th:text="${complaint.getStatusValue()}"></span></td>
                                <td>
                                    <a th:href="@{'/users/' + ${complaint.userOrigin.username}}" th:text="${complaint.userOrigin.name + ' ' +complaint.userOrigin.lastName}"></a>
                                </td>
                                <td>
                                    <a th:href="@{'/users/' + ${complaint.userTarget.username}}" th:text="${complaint.userTarget.name + ' ' +complaint.userTarget.lastName}"></a>
                                </td>
                                <td class="text-truncate" style="max-width: 150px;" th:text="${complaint.description}">
                                </td>
                                <td th:text="${complaint.complaintType.name}"></td>
                                <td th:text="${#dates.format(complaint.date, 'dd-MM-yyyy HH:mm')}"></td>
                                <td>
                                    <button class="btn btn-success btn-xs btn-get-complaint ladda-button" data-style="zoom-in" th:attr="data-id=${complaint.id}">Ver</button>
                                    <button class="btn btn-danger btn-xs btn-delete-complaint ladda-button" data-style="zoom-in" th:attr="data-id=${complaint.id}">Borrar</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
</div>
</div>
</section>
</div>
</section>

    <div class="modal fade" id="complaint-detail" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Detalle de denuncia</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <h6>Denunciante</h6>
                            <p id="cmpl-user-origin"></p>
                        </div>
                        <div class="col-sm-6">
                            <h6>Denunciado</h6>
                            <p id="cmpl-user-target"></p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-6">
                            <h6>Tipo</h6>
                            <p id="cmpl-type"></p>
                        </div>
                        <div class="col-sm-6">
                            <h6>Fecha</h6>
                            <p id="cmpl-date"></p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-6">
                            <h6>Detalle</h6>
                            <p id="cmpl-description"></p>
                        </div>
                        <div class="col-sm-6">
                            <h6>Estado</h6>
                            <p id="cmpl-status"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btn-complaint-action" class="btn btn-info ladda-button" data-style="zoom-in" ></button>
                </div>
            </div>
        </div>
    </div>

<!-- Page Scripts -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var table;

        $(function () {
            table = $('#tbl-complaints').DataTable({
                autoWidth: true,
                scrollX: true,
                fixedColumns: true
            });
        });

        $(".btn-get-complaint").click(function(){
            var l = Ladda.create(this);
            l.start();

            let cmplId = $(this).data('id');
            $.ajax({
                type: 'GET',
                url: '/complaints/' + cmplId,
                success: function(data) {
                    $('#cmpl-user-origin').text(data.userOrigin.name + " " + data.userOrigin.lastName);
                    $('#cmpl-user-target').text(data.userTarget.name + " " + data.userTarget.lastName);
                    $('#cmpl-type').text(data.complaintType.name);
                    let date = new Date(data.date);
                    $('#cmpl-date').text(date.getDate() + '-' + (date.getMonth() + 1) + '-' +  date.getFullYear());
                    $('#cmpl-description').text(data.description);
                    $('#cmpl-status').text(getComplaintStatusValue(data.status, cmplId));
                    $('#complaint-detail').modal('show');
                    l.stop();
                },
                error: function(data){
                    console.log("ERROR: ", data);
                    swal("No es recuperar la denuncia", "Intentelo nuevamente más adelante o lea el error para arreglarlo", "error");
                }
            });
        });

        let getComplaintStatusValue = function(status, cmplId){
            let btn = $('#btn-complaint-action');
            btn.data('status', status);
            btn.data('cmplId', cmplId);
            switch (status){
                case 0 :
                    btn.text('Moderar');
                    btn.removeClass();
                    btn.addClass('btn btn-danger');
                    btn.prop('disabled', false);
                    return "Pendiente";
                case 1 :
                    btn.text('Moderada');
                    btn.removeClass();
                    btn.addClass('btn btn-warning');
                    btn.prop('disabled', false);
                    return "En Moderación";
                case 2 :
                    btn.text('Moderada');
                    btn.removeClass();
                    btn.addClass('btn btn-success');
                    btn.prop('disabled', true);
                    return "Moderada";
            }
        };

        $('#btn-complaint-action').on('click', function () {
            var l = Ladda.create(this);
            l.start();
            let status = $(this).data('status');
            let cmplId = $(this).data('cmplId');
            let label = $('#lbl-cmpl-status-' + cmplId);
            $.ajax({
                url: '/complaints/' + cmplId,
                type: 'PUT',
                data: "status=" + status,
                success: function(newStatus) {
                    switch (newStatus){
                        case 1 :
                            swal("En Moderación", "La denuncia se encuentra en proceso de moderación", "success");
                            label.text("En Moderación");
                            break;
                        case 2 :
                            swal("Exito!", "La denuncia ha sido moderada", "success");
                            label.text("Moderada");
                            break;
                        default :
                            swal("Oops", "Revise el estado de la denuncia " + cmplId, "error");
                    }
                    table.row().draw();
                    l.stop();
                    $('#complaint-detail').modal('hide');
                },
                error: function (e) {
                    console.log(e);
                }
            });
        });

        $(".btn-delete-complaint").click(function(){
            var l = Ladda.create(this);
            l.start();
            var btn = $(this);
            var cmplId = btn.data('id');

            $.ajax({
                type: 'DELETE',
                url: '/complaints/' + cmplId,
                success: function () {
                    l.stop();
                    table.row(btn.parents('tr')).remove().draw();
                    swal("Eliminado", "La denuncia ha sido correctamente eliminada", "success");
                },
                error: function (e) {
                    console.log(e);
                }
            });
        });
        /*]]>*/
    </script>
</th:block>
</html>