<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>

</head>
<th:block layout:fragment="content">
<div class="page-content">
    <!-- Ecommerce Product Edit -->
    <section class="panel panel-with-borders page-content-inner">
        <div class="panel-heading">
            <h2>
                Editar Item
            </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <form action="#" th:action="@{'/items/' + ${item.id}}" th:object="${item}" th:method="PUT">
                    <!--INPUTS ESCONDIDOS PARA TENER EL ATRIBUTO DISPONIBLE-->
                    <input hidden="true" th:field="*{id}"/>
                    <input hidden="true" th:field="*{user.id}"/>
                    <div class="col-lg">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <!--NOMBRE DEL ITEM-->
                                    <label class="control-label">Nombre</label>
                                    <input th:field="*{name}" type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <!--ID DEL ITEM-->
                                    <label class="control-label">ID</label>
                                    <input readonly="true" th:field="*{id}" type="text" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <!--NOMBRE DE USUARIO-->
                                    <label class="control-label">Usuario</label>
                                    <input readonly="true" th:field="*{user.name}" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <!--DROP DOWN LIST DE CATEGORIA-->
                                <label class="form-control-label">Categoría</label>
                                <select th:field="*{category}" class="form-control">
                                    <option th:each="cat : ${categories}" th:value="${cat.id}"
                                            th:text="${cat.name}" th:field="*{category}"></option>
                                </select>
                            </div>
                            <div class="form-group col-lg-2">
                                <!--DROP DOWN LIST DE ESTADOS-->
                                <label class="form-control-label">Estado</label>
                                <input th:field="*{status}" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Descripción</label>
                            <textarea th:field="*{description}" class="form-control" rows="7"></textarea>
                        </div>
                    </div>
                    <!--FOTOS-->
                    <div class="col-lg">
                        <div class="row">
                            <h4>Fotos del Item</h4>
                            <div class="cui-ecommerce--catalog--item col-lg-4">
                                <div class="cui-ecommerce--catalog--item--img">
                                    <a>
                                        <img th:src="@{/common/img/temp/ecommerce/ecommerce-empty.jpg}"
                                             src="../assets/common/img/temp/ecommerce/ecommerce-empty.jpg"/>
                                    </a>
                                    <a class="link-underlined cui-ecommerce--catalog--item--img-remove">
                                        <i class="icmn-cross2"><!-- --></i> Remove
                                    </a>
                                </div>
                                <div class="form-group">
                                    <input type="file"/>
                                </div>
                            </div>

                            <div class="cui-ecommerce--catalog--item col-lg-4">
                                <div class="cui-ecommerce--catalog--item--img">
                                    <a>
                                        <img th:src="@{/common/img/temp/ecommerce/ecommerce-empty.jpg}"
                                             src="../assets/common/img/temp/ecommerce/ecommerce-empty.jpg"/>
                                    </a>
                                    <a class="link-underlined cui-ecommerce--catalog--item--img-remove">
                                        <i class="icmn-cross2"><!-- --></i> Remove
                                    </a>
                                </div>
                                <div class="form-group">
                                    <input type="file"/>
                                </div>
                            </div>

                            <div class="cui-ecommerce--catalog--item col-lg-4">
                                <div class="cui-ecommerce--catalog--item--img">
                                    <a>
                                        <img th:src="@{/common/img/temp/ecommerce/ecommerce-empty.jpg}"
                                             src="../assets/common/img/temp/ecommerce/ecommerce-empty.jpg"/>
                                    </a>
                                    <a class="link-underlined cui-ecommerce--catalog--item--img-remove">
                                        <i class="icmn-cross2"><!-- --></i> Remove
                                    </a>
                                </div>
                                <div class="form-group">
                                    <input type="file"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary width-150">Guardar Item</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- End Ecommerce Product Edit -->
</div>
</th:block>


</html>