<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <style>
        .widget-seven .counter-count {
            right: 135px;
        }
    </style>
</head>
<th:block layout:fragment="content">
    <section class="page-content">
        <div class="page-content-inner">
            <section class="panel">
                <div class="page-content-inner">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 style="text-align: center">Moderator Dashboard</h2>
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <canvas id="myChart"></canvas>
                                    </div>
                                    <div class="col-lg-6">
                                        <canvas id="myChart2"></canvas>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <canvas id="myChart3"></canvas>
                                    </div>
                                    <div class="col-lg-6">
                                        <canvas id="myChart4"></canvas>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <canvas id="myChart5"></canvas>
                                    </div>
                                    <div class="col-lg-6">
                                        <canvas id="myChart6"></canvas>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <canvas id="myChart7"></canvas>
                                    </div>
                                    <div class="col-lg-6">
                                        <canvas id="myChart8"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Dashboard -->
        <section>
            <div class="dashboard-container">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                        <div class="widget widget-seven background-success">
                            <div class="widget-body">
                                <div  class="widget-body-inner">
                                    <h5 class="text-uppercase">% usuarios logueados</h5>
                                    <i class="counter-icon icmn-users"></i>
                                    <span class="counter-count"><span class="counter-init" data-from="0" data-to="99"></span>%38</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                        <div class="widget widget-seven background-warning">
                            <div class="widget-body">
                                <div  class="widget-body-inner">
                                    <h5 class="text-uppercase">Usuarios</h5>
                                    <i class="counter-icon icmn-users"></i>
                                    <span class="counter-count" style="right: 135px">
                                    <span class="counter-init" data-from="0" data-to="99">467</span>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                        <div class="widget widget-seven  background-danger">
                            <div class="widget-body">
                                <div  class="widget-body-inner">
                                    <h5 class="text-uppercase">Cant. usuarios baneados</h5>
                                    <i class="counter-icon icmn-users"></i>
                                    <span class="counter-count">
                                        <span class="counter-init" data-from="0" data-to="356">185</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                        <div class="widget widget-seven">
                            <div class="widget-body">
                                <div  class="widget-body-inner">
                                    <h5 class="text-uppercase">asd</h5>
                                    <i class="counter-icon icmn-users"></i>
                                    <span class="counter-count">
                                <i class="icmn-arrow-up5"></i>
                                <span class="counter-init" data-from="0" data-to="356"></span>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                        <div class="widget widget-seven">
                            <div class="carousel-widget carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <div class="widget-body">
                                            <div class="widget-body-icon">
                                                <i class="icmn-accessibility"></i>
                                            </div>
                                            <a class="widget-body-inner">
                                                <h2>Sales Growth</h2>
                                                <p>View Report</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="widget-body">
                                            <div class="widget-body-icon">
                                                <i class="icmn-download"></i>
                                            </div>
                                            <a href="javascript: void(0);" class="widget-body-inner">
                                                <h2>All Reports</h2>
                                                <p>Pdf Download</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                        <div class="widget widget-seven">
                            <div class="carousel-widget-2 carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <a href="javascript: void(0);" class="widget-body">
                                            <h2>
                                                <i class="icmn-database"></i> Items
                                            </h2>
                                            <p>
                                                Total: 765
                                                <br />
                                                Nuevos: 36
                                            </p>
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a href="javascript: void(0);" class="widget-body">
                                            <h2>
                                                <i class="icmn-users"></i> Users
                                            </h2>
                                            <p>
                                                Total: 24 467
                                                <br />
                                                Nuevos: 456
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                        <div class="widget widget-seven">
                            <div class="carousel-widget carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <a href="javascript: void(0);" class="widget-body">
                                            <h2>
                                                <i class="icmn-books"></i> Todo
                                            </h2>
                                            <p>
                                                1. Upgrade
                                                <br />
                                                2. Finish
                                            </p>
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a href="javascript: void(0);" class="widget-body">
                                            <h2>
                                                <i class="icmn-download"></i> Finish
                                            </h2>
                                            <p>
                                                1. Upgrade
                                                <br />
                                                2. Prepare
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                        <div class="widget widget-seven">
                            <div class="carousel-widget carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <div class="widget-body">
                                            <div class="widget-body-icon">
                                                <i class="icmn-accessibility"></i>
                                            </div>
                                            <a class="widget-body-inner">
                                                <h2>Sales Growth</h2>
                                                <p>View Report</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="widget-body">
                                            <div class="widget-body-icon">
                                                <i class="icmn-download"></i>
                                            </div>
                                            <a href="javascript: void(0);" class="widget-body-inner">
                                                <h2>All Reports</h2>
                                                <p>Pdf Download</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <!-- End Dashboard -->

    </section>


    <script>


        //    $.ajax({
        //        type: "GET",
        //        url: "/reportes",
        //        contentType : "application/json",
        //        data: data,
        //        dataType : 'json',
        //        beforeSend: function (xhr) {
        //            xhr.setRequestHeader(header, token);
        //        },
        //        success: function () {
        //
        //        },
        //        error: function (e) {
        //            console.log(e);
        //        }
        //    });


        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [
                    {
                        data: [5, 10, 15, 25, 35, 40, 60, 65, 70, 80, 95, 130],
                        label: 'Concretados',
                        borderColor: '#000000',
                        backgroundColor: '#f32419'

                    },
                    {
                        data: [15, 25, 35, 50, 65, 70, 85, 90, 110, 130, 150, 165],
                        label: 'Iniciados',
                        borderColor: '#000000',
                        backgroundColor: '#ffea0e'
                    }


                ],
                labels: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun','Jul','Ago','Sep','Oct','Nov','Dic']
            },
            options: {
                scales: {
                    yAxes: [{
                        id: 'left-y-axis',
                        type: 'linear',
                        position: 'left'
                    }]
                },
                title: {
                    display: true,
                    text: 'Trueques',
                    fontStyle: 'bold',
                    fontSize: 16
                }
            }
        });

        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                datasets: [
                    {
                        data: [5, 10, 15, 25, 35, 40, 60, 65, 70, 80, 95, 130],
                        label: 'Items',
                        backgroundColor: '#1dba46',
                        borderColor: '#000000'

                    }

                ],
                labels: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun','Jul','Ago','Sep','Oct','Nov','Dic']
            },
            options: {
                scales: {
                    yAxes: [{
                        id: 'left-y-axis',
                        type: 'linear',
                        position: 'left'
                    }]
                },

            title: {
                display: true,
                    text: 'Items creados por mes',
                    fontStyle: 'bold',
                    fontSize: 16
                }
            }
        });

        var ctx = document.getElementById('myChart3').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [
                    {
                        data: [15, 25, 35, 50],
                        backgroundColor:
                            [
                             '#ff6384',
                            '#36a2eb',
                            '#cc65fe',
                            '#ffce56'
                            ]
                    },

                ],
                labels: ['Instrumentos','Muebles','Videojuegos','Herramientas'],
            },
            options: {
                title: {
                    display: true,
                    text: 'Items por categoría',
                    fontStyle: 'bold',
                    fontSize: 16
                }}
        });

        var ctx = document.getElementById('myChart4').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'radar',
            data: {
                datasets: [
                    {
                        data: [115, 125, 135, 150, 165, 170, 185, 190, 110, 130, 150, 165,100],
                        label: 'Denuncias',
                        backgroundColor: '#2078ba',
                        borderColor: '#000000'
                    }
                ],
                labels: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun','Jul','Ago','Sep','Oct','Nov','Dic']
            },
            options: {
                title: {
                    display: true,
                    text: 'Denuncias por mes',
                    fontStyle: 'bold',
                    fontSize: 16
                }
            }
        });

        var ctx = document.getElementById('myChart5').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [
                    {
                        data: [259, 602, 150, 800],
                        backgroundColor:
                            [
                                '#44a8ff',
                                '#aceb4f',
                                '#fe110c',
                                '#300009'
                            ]
                    },

                ],
                labels: ['Registrado','Activo','Baneado','Eliminado'],
            },
            options: {
                title: {
                    display: true,
                    text: 'Items por estado',
                    fontStyle: 'bold',
                    fontSize: 16
                }}
        });

        var ctx = document.getElementById('myChart6').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [
                    {
                        data: [15, 25, 35, 50],
                        backgroundColor:
                            [
                                '#ff6384',
                                '#36a2eb',
                                '#cc65fe',
                                '#ffce56'
                            ]
                    },

                ],
                labels: ['Registrado','Activo','Eliminado','Baneado'],
            },
            options: {
                title: {
                    display: true,
                    text: 'Usuarios por estado',
                    fontStyle: 'bold',
                    fontSize: 16
                }}
        });

        var ctx = document.getElementById('myChart7').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [
                    {
                        data: [15, 25, 35, 50, 100],
                        backgroundColor:
                            [
                                '#ff6384',
                                '#36a2eb',
                                '#cc65fe',
                                '#ffce56'
                            ]
                    },

                ],
                labels: ['Propuesto','Activo','Rechazado','Confirmado','Cancelado'],
            },
            options: {
                title: {
                    display: true,
                    text: 'Trueques por estado',
                    fontStyle: 'bold',
                    fontSize: 16
                }}
        });

        var ctx = document.getElementById('myChart8').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [
                    {
                        data: [15, 25, 35, 50],
                        backgroundColor:
                            [
                                '#ff6384',
                                '#36a2eb',
                                '#cc65fe',
                                '#ffce56'
                            ]
                    },

                ],
                labels: ['Instrumentos','Muebles','Videojuegos','Herramientas'],
            },
            options: {
                title: {
                    display: true,
                    text: 'Items por categoría',
                    fontStyle: 'bold',
                    fontSize: 16
                }}
        });
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

</th:block>
</html>