<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css"/>
    <style>
        .widget-seven .counter-count {
            right: 120px;
        }
    </style>
</head>
<th:block layout:fragment="content">
    <section class="page-content">
        <div class="page-content-inner">
            <section class="panel">
                <div class="page-content-inner">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 th:text="${dashboard.name}" style="text-align: center">Titulo</h2>
                                <section>
                                    <div class="dashboard-container">
                                        <div class="row">
                                            <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                                                <div class="widget widget-seven background-warning">
                                                    <div class="widget-body">
                                                        <div class="widget-body-inner">
                                                            <h5 th:text="${nuevosUsuariosReport.reportTitle}" class="text-uppercase"></h5>
                                                            <i class="counter-icon icmn-users"></i>
                                                            <span class="counter-count"><span class="counter-init"
                                                                                              data-from="0"
                                                                                              data-to="99" th:text="${nuevosUsuariosReport.firstDataset.data}"></span></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                                                <div class="widget widget-seven background-danger">
                                                    <div class="widget-body">
                                                        <div class="widget-body-inner">
                                                            <h5 th:text="${cantidadTotalUsuariosReport.reportTitle}" class="text-uppercase"></h5>
                                                            <i class="counter-icon icmn-users"></i>
                                                            <span class="counter-count">
                                    <span class="counter-init" data-from="0" data-to="99" th:text="${cantidadTotalUsuariosReport.firstDataset.data}"></span>
                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                                                <div class="widget widget-seven  background-warning">
                                                    <div class="widget-body">
                                                        <div class="widget-body-inner">
                                                            <h5 th:text="${denunciasSinModerarReport.reportTitle}" class="text-uppercase"></h5>
                                                            <i class="counter-icon icmn-users"></i>
                                                            <span class="counter-count">
                                        <span class="counter-init" data-from="0" data-to="356" th:text="${denunciasSinModerarReport.firstDataset.data}"></span>
                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                                                <div class="widget widget-seven  background-danger">
                                                    <div class="widget-body">
                                                        <div class="widget-body-inner">
                                                            <h5 class="text-uppercase" th:text="${itemsSinModerarReport.reportTitle}"></h5>
                                                            <i class="counter-icon icmn-users"></i>
                                                            <span class="counter-count">
                                        <span class="counter-init" data-from="0" data-to="356" th:text="${itemsSinModerarReport.firstDataset.data}"></span>
                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </section>

                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <canvas id="myChart"></canvas>
                                    </div>
                                    <div class="col-lg-6">
                                        <canvas id="myChart2"></canvas>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <canvas id="myChart3"></canvas>
                                    </div>
                                    <div class="col-lg-6">
                                        <canvas id="myChart4"></canvas>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <canvas id="myChart5"></canvas>
                                    </div>
                                    <div class="col-lg-6">
                                        <canvas id="myChart6"></canvas>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <canvas id="myChart7"></canvas>
                                    </div>
                                    <div class="col-lg-6">
                                        <canvas id="myChart8"></canvas>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <canvas id="myChart9"></canvas>
                                    </div>
                                    <div class="col-lg-6">
                                        <canvas id="myChart10"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </section>


    <script th:inline="javascript">
        /*<![CDATA[*/
        //        var token = [[${_csrf.token}]];
        //        var header = [[${_csrf.headerName}]];
        //        var dashboard = [[${dashboard}]];
        var itemsPorMesReport = [[${itemsPorMesReport}]];
        var truequesConcretadosVsIniciadosReport = [[${truequesConcretadosVsIniciadosReport}]];
        var itemsPorCategoriaReport = [[${itemsPorCategoriaReport}]];
        var denunciasPorMesReport = [[${denunciasPorMesReport}]];
        var itemsPorEstadoReport = [[${itemsPorEstadoReport}]];
        var usuariosPorEstadoReport = [[${usuariosPorEstadoReport}]];
        var truequesPorEstadoReport = [[${truequesPorEstadoReport}]];
        var usuariosPorScoreReport = [[${usuariosPorScoreReport}]];
        var denunciasPorTiposReport = [[${denunciasPorTiposReport}]];

        function getColorForEachOne(array) {

            var myColors = [
                '#ee8300',
                '#e22207',
                '#6d6d6d',
                '#f2926d',
                '#561d25',
                '#d3e298',
                '#305252',
                '#488286',
                '#000f08',
                '#3e2f5b',
                '#093824'
            ];

            var finalColors = [];

            array.forEach(function () {
                finalColors.push(myColors[Math.floor((Math.random() * myColors.length))])
            });
            return finalColors;
        }

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: truequesConcretadosVsIniciadosReport.reportType,
            data: {
                datasets: [
                    {
                        data: truequesConcretadosVsIniciadosReport.firstDataset.data,
                        label: 'Concretados',
                        borderColor: '#6d6d6d',
                        backgroundColor: '#ee8300'

                    },
                    {
                        data: truequesConcretadosVsIniciadosReport.secondDataset.data,
                        label: 'Iniciados',
                        borderColor: '#6d6d6d',
                        backgroundColor: '#e22207'
                    }


                ],
                labels: truequesConcretadosVsIniciadosReport.labels
            },
            options: {
                scales: {
                    yAxes: [{
                        id: 'left-y-axis',
                        type: 'linear',
                        position: 'left'
                    }]
                },
                title: {
                    display: true,
                    text: truequesConcretadosVsIniciadosReport.reportTitle,
                    fontStyle: 'bold',
                    fontSize: 16
                }
            }
        });


        var ctx = document.getElementById('myChart2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: itemsPorMesReport.reportType,
            data: {
                datasets: [
                    {
                        data: itemsPorMesReport.firstDataset.data,
                        label: itemsPorMesReport.firstDataset.label,
                        backgroundColor: '#e22207',
                        borderColor: '#000000'

                    }

                ],
                labels: itemsPorMesReport.labels
            },
            options: {
                scales: {
                    yAxes: [{
                        id: 'left-y-axis',
                        type: 'linear',
                        position: 'left'
                    }]
                },

                title: {
                    display: true,
                    text: itemsPorMesReport.reportTitle,
                    fontStyle: 'bold',
                    fontSize: 16
                }
            }
        });


        var ctx = document.getElementById('myChart3').getContext('2d');
        var myChart = new Chart(ctx, {
            type: itemsPorCategoriaReport.reportType,
            data: {
                datasets: [
                    {
                        data: itemsPorCategoriaReport.firstDataset.data,
                        backgroundColor: '#e22207',
                        label: itemsPorCategoriaReport.firstDataset.label,
                        borderColor: '#000000'
                    }
                ],
                labels: itemsPorCategoriaReport.labels,
            },
            options: {
                title: {
                    display: true,
                    text: itemsPorCategoriaReport.reportTitle,
                    fontStyle: 'bold',
                    fontSize: 16
                }
            }
        });


        var ctx = document.getElementById('myChart4').getContext('2d');
        var myChart = new Chart(ctx, {
            type: denunciasPorMesReport.reportType,
            data: {
                datasets: [
                    {
                        data: denunciasPorMesReport.firstDataset.data,
                        label: denunciasPorMesReport.firstDataset.label,
                        backgroundColor: "#ee8300",
                        borderColor: '#6d6d6d'
                    }
                ],
                labels: denunciasPorMesReport.labels
            },
            options: {
                title: {
                    display: true,
                    text: denunciasPorMesReport.reportTitle,
                    fontStyle: 'bold',
                    fontSize: 16
                }
            }
        });

        var ctx = document.getElementById('myChart5').getContext('2d');
        var myChart = new Chart(ctx, {
            type: itemsPorEstadoReport.reportType,
            data: {
                datasets: [
                    {
                        data: itemsPorEstadoReport.firstDataset.data,
                        backgroundColor: getColorForEachOne(itemsPorEstadoReport.firstDataset.data)
                    },

                ],
                labels: itemsPorEstadoReport.labels,
            },
            options: {
                title: {
                    display: true,
                    text: itemsPorEstadoReport.reportTitle,
                    fontStyle: 'bold',
                    fontSize: 16
                }
            }
        });

        var ctx = document.getElementById('myChart6').getContext('2d');
        var myChart = new Chart(ctx, {
            type: usuariosPorEstadoReport.reportType,
            data: {
                datasets: [
                    {
                        data: usuariosPorEstadoReport.firstDataset.data,
                        backgroundColor: getColorForEachOne(usuariosPorEstadoReport.firstDataset.data)

                    },

                ],
                labels: usuariosPorEstadoReport.labels,
            },
            options: {
                title: {
                    display: true,
                    text: usuariosPorEstadoReport.reportTitle,
                    fontStyle: 'bold',
                    fontSize: 16
                }
            }
        });

        var ctx = document.getElementById('myChart7').getContext('2d');
        var myChart = new Chart(ctx, {
            type: truequesPorEstadoReport.reportType,
            data: {
                datasets: [
                    {
                        data: truequesPorEstadoReport.firstDataset.data,
                        backgroundColor: getColorForEachOne(truequesPorEstadoReport.firstDataset.data)
                    },

                ],
                labels: truequesPorEstadoReport.labels,
            },
            options: {
                title: {
                    display: true,
                    text: truequesPorEstadoReport.reportTitle,
                    fontStyle: 'bold',
                    fontSize: 16
                }
            }
        });

        var ctx = document.getElementById('myChart8').getContext('2d');
        var myChart = new Chart(ctx, {
            type: usuariosPorScoreReport.reportType,
            data: {
                datasets: [
                    {
                        data: usuariosPorScoreReport.firstDataset.data,
                        backgroundColor: getColorForEachOne(usuariosPorScoreReport.firstDataset.data)
                    }

                ],
                labels: usuariosPorScoreReport.labels
            },
            options: {
                title: {
                    display: true,
                    text: usuariosPorScoreReport.reportTitle,
                    fontStyle: 'bold',
                    fontSize: 16
                }
            }
        });

        var ctx = document.getElementById('myChart9').getContext('2d');
        var myChart = new Chart(ctx, {
            type: denunciasPorTiposReport.reportType,
            data: {
                datasets: [
                    {
                        data: denunciasPorTiposReport.firstDataset.data,
                        backgroundColor: getColorForEachOne(denunciasPorTiposReport.firstDataset.data)
                    }

                ],
                labels: denunciasPorTiposReport.labels
            },
            options: {
                title: {
                    display: true,
                    text: denunciasPorTiposReport.reportTitle,
                    fontStyle: 'bold',
                    fontSize: 16
                }
            }
        });
        /*]]>*/
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

</th:block>
</html>