<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>

</head>
<th:block layout:fragment="content">
<section class="page-content">
    <div class="page-content-inner">

        <!-- Ecommerce Products List -->
        <section class="panel panel-with-borders">
            <div class="panel-body">
                <h4>Items</h4>

                <br/>
                <table class="table table-hover nowrap" id="table-items" width="100%">

                    <thead class="thead-default">
                    <tr>
                        <th>Moderar</th>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Foto</th>
                        <th>Categoría</th>
                        <th>Usuario</th>
                        <th>Acción</th>
                    </tr>
                    </thead>

                    <tbody>

                    <th:block th:each="item : ${items}">
                        <tr th:id="${'item-'+item.id}" class="items-table">
                            <td th:id="${'approbe-'+item.id}">
                                <button th:id="${'item-'+item.id}"  class="btn btn-success btn-xs" th:onclick="'approveItem(' + ${__${item.id}__} + ', this);'">Activar</button>
                            </td>
                            <td th:text="${item.id}">id</td>
                            <td th:text="${item.name}">name</td>
                            <td>
                                <div class="cui-ecommerce--dashboard--list--img">
                                    <img id="edit-item-photo1" th:src="${item.photo1}"/>
                                </div>
                            </td>
                            <td th:text="${item.category.name}">category</td>
                            <td th:text="${item.user.name} +' ' + ${item.user.lastName}">userName</td>
                            <td>
                                <a th:href="@{'/items/' + ${item.id}}" class="btn btn-success btn-xs btn-edit edit-item-btn">Ver</a>
                                <button type="button" class="btn btn-danger btn-xs btn-delete-item ladda-button" data-style="zoom-in" th:attr="data-id=${item.id}">Borrar</button>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

        </section>
        <!-- End Ecommerce Products List -->
    </div>
</section>

    <!-- Dialog show event handler -->
    <script type="text/javascript">
        var table;
        $(function () {
             table = $('#table-items').DataTable({
                autoWidth: true,
                scrollX: true,
                fixedColumns: true
            });
        });

        approveItem = function(itemId, elem){
            console.log($(elem).parent().parent());
            $.ajax({
                type : "GET",
                url : "items/"+ itemId + "/approve",
                success : function(data) {
                    table.row($(elem).parents('tr')).remove().draw();
                    swal("Moderado", "Puede visualizar este item en la seccion Activos", "success");
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                }
            });
        }
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        $(function () {
            $(".btn-delete-item").on("click", function () {
                var l = Ladda.create(this);
                l.start();
                var itemId = $(this).data("id");

                swal({
                    title: "¿Estás seguro?",
                    text: "Una vez eliminado, no podrá volver a ver este item",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            var btn = $(this);

                            $.ajax({
                                type: 'DELETE',
                                url: '/items/' + itemId,
                                contentType: 'application/json',
                                success: function (data) {
                                    l.stop();
                                    table.row(btn.parents('tr')).remove().draw();
                                    swal("Eliminado", "El item ha sido correctamente eliminado", "success");
                                },
                                error: function (e) {
                                    console.log(e);
                                }
                            });
                        }
                    });
            });
        });

        /*]]>*/
    </script>
    <!-- Page Scripts -->

    <!-- End Page Scripts -->
</th:block>
</html>