<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>

</head>
<th:block layout:fragment="content">
<section class="page-content">
    <div class="page-content-inner">

        <!-- Ecommerce Products List -->
        <section class="panel panel-with-borders">
            <div class="panel-body">
                <h4>Items</h4>

                <br/>
                <table class="table table-hover nowrap" id="table-items" width="100%">

                    <thead class="thead-default">
                    <tr>
                        <th>Moderar</th>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Foto</th>
                        <th>Categoría</th>
                        <th>Usuario</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                    </thead>

                    <tfoot class="tfoot-default">
                    <tr>
                        <th>Moderar</th>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Foto</th>
                        <th>Categoría</th>
                        <th>Usuario</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                    </tfoot>


                    <tbody>

                    <th:block th:each="item : ${items}">
                        <tr class="items-table">
                            <td>
                                <button class="btn btn-success btn-xs btn-edit edit-item-btn" th:onclick="'approveItem(' + ${__${item.id}__} + ');'">Activar</button>
                            </td>
                            <td th:text="${item.id}">id</td>
                            <td th:text="${item.name}">name</td>
                            <td>
                                <div class="cui-ecommerce--dashboard--list--img">
                                    <img id="edit-item-photo1" th:src="${item.photo1}"/>
                                </div>
                            </td>
                            <td th:text="${item.category.name}">category</td>
                            <td th:text="${item.user.name} +' ' + ${item.user.lastName}">userName</td>
                            <td th:text="${item.status}"></td>
                            <td>
                                <form th:method="DELETE" th:action="@{'/items/' + ${item.id}}">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                    <a th:href="@{'/items/' + ${item.id}}" class="btn btn-success btn-xs btn-edit edit-item-btn">Editar</a>
                                    <button type="button" class="btn btn-danger btn-xs btn-delete-item" th:attr="data-id=${item.id}">Borrar</button>
                                </form>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

        </section>
        <!-- End Ecommerce Products List -->
    </div>

    <!-- Modal Dialog de eliminar-->
    <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Borrar permanentemente</h4>
                </div>
                <div class="modal-body">
                    <p>Estas seguro de esto?</p>
                </div>
                <div class="modal-footer">
                    <form id="confirm_form" th:action="@{'/items/' + id}" th:method="DELETE" role="button">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Cancelar
                        </button>
                        <button type="submit" class="btn btn-danger" data-dismiss="modal" id="btn_confirm_delete">
                            Eliminar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Dialog show event handler -->
    <script type="text/javascript">
        $(function () {
            $(".btn-delete-item").on("click", function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                console.log(id);
                $("#confirm_form").attr('action', '/items/' + id);
                $("#confirmDelete").modal('show');
            });
        });

        $("#btn_confirm_delete").on('click', function () {
            $('#confirm_form').submit();
        });

        function approveItem(itemId){
            $.ajax({
                type : "GET",
                url : "items/"+ itemId + "/approve",
                success : function(data) {
                    console.log('Moderado');
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                }
            });
        }
    </script>
    <!-- Page Scripts -->
    <script>
        $(function () {
            $('#table-items').DataTable({
                autoWidth: true,
                scrollX: true,
                fixedColumns: true
            });
        });
    </script>

    <!-- End Page Scripts -->
</th:block>
</html>