<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<th:block layout:fragment="content">
    <section class="page-content">
        <div class="page-content-inner">
            <section class="row">
                <div class="col-lg-4">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="margin-bottom-10">
                                <table class="table table-hover nowrap" id="example2" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Usuarios</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${usersWithTags}">
                                        <td th:id="${'user1-'+user.id}" class="user-level1"
                                            th:attr="data-id=${user.id}">
                                            <div class="cui-ecommerce--dashboard--list--img avatar">
                                                <img th:id="'user-img-' + ${user.id}" th:src="${user.photo1}"
                                                     alt="Imagen"/>
                                            </div>
                                            <h6 th:text="${user.fullName}">User</h6>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="margin-bottom-10">
                                <table class="table table-hover nowrap" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Usuarios</th>
                                    </tr>
                                    </thead>
                                    <tbody id="users-level2">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-4">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="margin-bottom-10">
                                <table class="table table-hover nowrap" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Usuarios</th>
                                    </tr>
                                    </thead>
                                    <tbody id="users-level3">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="container">
                                <button type="button" class="btn btn-success margin-inline pull-right" id="verPropuesta"
                                        data-toggle="modal" data-target="#new-Trueque" disabled="true">Ver Propuesta
                                </button>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </section>

    <div class="modal fade" id="new-Trueque" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog size-1k" role="document">
            <div class="modal-content grey-background">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Propuesta de Trueque</h4>
                </div>
                <div class="col-lg-6 col-lg-offset-3" style="padding: 1em;">
                    <section class="panel">
                        <div class="messaging-list">
                            <div class="messaging-list-item" id="propuesta-user1"
                                 style="padding: 20px 15px;border-bottom: 1px solid #eceff4;">
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="margin-bottom-10">
                                <table class="table table-hover nowrap" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Items</th>
                                    </tr>
                                    </thead>
                                    <tbody id="propuesta-user1items">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-12 no-vertical-padding" style="padding: 1em;">
                    <div class="col-lg-5 col-lg-offset-3"><i class="fa fa-arrow-down font-size-4em rotate-315-deg green-font" aria-hidden="true"></i></div>
                    <div class="col-lg-3"> <i class="fa fa-arrow-down font-size-4em rotate-135-deg green-font" aria-hidden="true"></i></div>
                </div>
                <div class="col-lg-5" style="padding: 1em;">
                    <section class="panel">
                        <div class="messaging-list">
                            <div class="messaging-list-item" id="propuesta-user2"
                                 style="padding: 20px 15px;border-bottom: 1px solid #eceff4;">

                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="margin-bottom-10">
                                <table class="table table-hover nowrap" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Items</th>
                                    </tr>
                                    </thead>
                                    <tbody id="propuesta-user2items">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-2 padding-top-20" style="padding: 1em;">
                    <i class="fa fa-arrow-right font-size-4em margin-left-50 padding-top-30 green-font" aria-hidden="true"></i>
                </div>
                <div class="col-lg-5" style="padding: 1em;">
                    <section class="panel">
                        <div class="messaging-list">
                            <div class="messaging-list-item" id="propuesta-user3"
                                 style="padding: 20px 15px;border-bottom: 1px solid #eceff4;">

                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="margin-bottom-10">
                                <table class="table table-hover nowrap" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Items</th>
                                    </tr>
                                    </thead>
                                    <tbody id="propuesta-user3items">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="enviarPropuesta">Enviar</button>
                </div>
            </div>
        </div>
    </div>


    <script th:inline="javascript">
        var idUser1 = -1;
        var idUser2 = -1;
        var idUser3 = -1;
        var itemsUser1;
        var itemsUser2;
        var itemsUser3;

        $(document).ready(function () {
            getUsersLevel2();
        });

        var getUser = function (id) {
            var user = {
                id: id
            };
            return user;
        };

        var getUsersLevel2 = function () {
            $('.user-level1').on('click', function () {
                if (idUser1 != -1) {
                    $('#user1-' + idUser1).css('background-color', '#fcfffa');
                }
                var id = $(this).data('id');
                $('#user1-' + id).css('background-color', '#eceff4');
                idUser1 = parseInt(id);
                var user = getUser(id);
                $.ajax({
                    type: "POST",
                    url: "/propuesta/paso2",
                    contentType: "application/json",
                    data: JSON.stringify(user),
                    success: function (data) {
                        displayUsersLevel2(data.users);
                    },
                    error: function (e) {
                        swal({
                            title: "Ops!",
                            text: "No se se encontraron items con las preferencias de este usuario, pruebe con otro.",
                            icon: "warning"
                        })
                    }
                });
            });
        }

        var getUsersLevel3 = function () {
            $('.user-level2').on('click', function () {
                if (idUser2 != -1) {
                    $('#user2-' + idUser2).css('background-color', '#fcfffa');
                }
                var id = $(this).data('id');
                $('#user2-' + id).css('background-color', '#eceff4');
                idUser2 = parseInt(id);
                var user = getUser(id);

                $.ajax({
                    type: "POST",
                    url: "/propuesta/paso3/" + idUser1,
                    contentType: "application/json",
                    data: JSON.stringify(user),
                    success: function (data) {
                        displayUsersLevel3(data.users);
                        itemsUser2 = data.itemsUser2;
                    },
                    error: function (e) {
                        swal({
                            title: "Ops!",
                            text: "No se se encontraron items con las preferencias de este usuario, pruebe con otro.",
                            icon: "warning"
                        })
                    }
                });
            });
        }

        var finalizarTrueque = function () {
            $('.user-level3').on('click', function () {
                if (idUser3 != -1) {
                    $('#user3-' + idUser3).css('background-color', '#fcfffa');
                }
                var id = $(this).data('id');
                $('#user3-' + id).css('background-color', '#eceff4');
                idUser3 = parseInt(id);
                var user = getUser(id);
                $('#verPropuesta').prop("disabled", false);
                $.ajax({
                    type: "POST",
                    url: "/propuesta/paso4/" + idUser1 + "/" + idUser2,
                    contentType: "application/json",
                    data: JSON.stringify(user),
                    success: function (data) {
                        itemsUser3 = data.itemsUser3;
                        itemsUser1 = data.itemsUser1;
                        displayPropuesta();
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            });
        }

        var enviarPropuesta = function () {
            $('#enviarPropuesta').on('click', function () {
                $('#user1-' + idUser1).css('background-color', '#fcfffa');
                $('#user2-' + idUser2).css('background-color', '#fcfffa');
                $('#user3-' + idUser3).css('background-color', '#fcfffa');
                var items = {
                    1: itemsUser1,
                    2: itemsUser2,
                    3: itemsUser3
                }
                $.ajax({
                    type: "POST",
                    url: "/enviarPropuesta/" + idUser1 + "/" + idUser2 + "/" + idUser3,
                    contentType: "application/json",
                    data: JSON.stringify(items),
                    success: function (data) {
                        swal({
                            title: "Propuesta Enviada",
                            icon: "success"
                        })
                    },
                    error: function (e) {
                        swal({
                            title: "Error",
                            text: "No se pudo realizar la propuesta.",
                            icon: "warning"
                        })
                    }
                });
                $('#new-Trueque').modal('hide');
                $('#users-level2').html("");
                $('#users-level3').html("");
            });

        }


        displayUsersLevel2 = function (datas) {
            var users = $('#users-level2');
            users.html("");
            datas.forEach(function (data) {
                users.append(
                    '<tr>' +
                    '<td id="user2-' + data.id + '" class="user-level2" data-id="' + data.id + '">' +
                    '<div class="cui-ecommerce--dashboard--list--img avatar">' +
                    '<img id="user-img-' + data.id + '" src="' + data.photo1 + '" alt="Imagen"/>' +
                    '</div>' +
                    '<h6>' + data.fullName + '</h6>' +
                    '</td>' +
                    '</tr>'
                );
            });
            $('#users-level3').html("");
            getUsersLevel3();
        };

        displayUsersLevel3 = function (datas) {
            var users = $('#users-level3');
            users.html("");
            datas.forEach(function (data) {
                users.append(
                    '<tr>' +
                    '<td id="user3-' + data.id + '" class="user-level3" data-id="' + data.id + '">' +
                    '<div class="cui-ecommerce--dashboard--list--img avatar">' +
                    '<img id="user-img-' + data.id + '" src="' + data.photo1 + '" alt="Imagen"/>' +
                    '</div>' +
                    '<h6>' + data.fullName + '</h6>' +
                    '</td>' +
                    '</tr>'
                );
            });
            finalizarTrueque();
            enviarPropuesta();
        };

        displayPropuesta = function () {
            var propuestaUser1items = $('#propuesta-user1items');
            $.ajax({
                type: "GET",
                url: "/user/" + idUser1,
                contentType: "application/json",
                async: false,
                success: function (data) {
                    var user1 = data.user;
                    var tags1 = data.tags;
                    var propuestaUser1 = $('#propuesta-user1');
                    propuestaUser1.html("");
                    propuestaUser1.append(
                        '<div class="s1">' +
                        '<a class="avatar">' +
                        '<img src="' + user1.photo1 + '" alt="Imagen"/>' +
                        '</a>' +
                        '</div>' +
                        '<div class="s2">' +
                        '<div class="messaging-list-title-name">' + user1.fullName + '</div>'
                    );
                    tags1.forEach(function (tag) {
                        propuestaUser1.append(
//                            '<div class="messaging-list-title-last color-default">' + tag.name + '</div>'
                            '<span class="label label-default tag-margin margin-horizontal-5-obligatory">' + tag.name + '</span>'
                        )
                    });
                    propuestaUser1.append('</div>')
                },
                error: function (e) {
                    console.log(e);
                }
            });
            propuestaUser1items.html("");
            itemsUser1.forEach(function (item) {
                propuestaUser1items.append(
                    '<td>' +
                    '<div class="cui-ecommerce--dashboard--list--img avatar">' +
                    '<img src="' + item.photo1 + '" alt="Imagen"/>' +
                    '</div>' +
                    '<p>' + item.name + '</p>' +
                    '</td>'
                );
            });
            $.ajax({
                type: "GET",
                url: "/user/" + idUser2,
                contentType: "application/json",
                async: false,
                success: function (data) {
                    var user2 = data.user;
                    var tags2 = data.tags;
                    var propuestaUser2 = $('#propuesta-user2');
                    propuestaUser2.html("");
                    propuestaUser2.append(
                        '<div class="s1">' +
                        '<a class="avatar">' +
                        '<img src="' + user2.photo1 + '" alt="Imagen"/>' +
                        '</a>' +
                        '</div>' +
                        '<div class="s2">' +
                        '<div class="messaging-list-title-name">' + user2.fullName + '</div>'
                    );
                    tags2.forEach(function (tag) {
                        propuestaUser2.append(
//                            '<div class="messaging-list-title-last color-default">' + tag.name + '</div>'
                            '<span class="label label-default tag-margin margin-horizontal-5-obligatory">' + tag.name + '</span>'
                        )
                    });
                    propuestaUser2.append('</div>')
                },
                error: function (e) {
                    console.log(e);
                }
            });
            var propuestaUser2items = $('#propuesta-user2items');
            propuestaUser2items.html("");
            itemsUser2.forEach(function (item) {
                propuestaUser2items.append(
                    '<td>' +
                    '<div class="cui-ecommerce--dashboard--list--img avatar">' +
                    '<img src="' + item.photo1 + '" alt="Imagen"/>' +
                    '</div>' +
                    '<p>' + item.name + '</p>' +
                    '</td>'
                );
            });
            $.ajax({
                type: "GET",
                url: "/user/" + idUser3,
                contentType: "application/json",
                async: false,
                success: function (data) {
                    var user3 = data.user;
                    var tags3 = data.tags;
                    var propuestaUser3 = $('#propuesta-user3');
                    propuestaUser3.html("");
                    propuestaUser3.append(
                        '<div class="s1">' +
                        '<a class="avatar">' +
                        '<img src="' + user3.photo1 + '" alt="Imagen"/>' +
                        '</a>' +
                        '</div>' +
                        '<div class="s2">' +
                        '<div class="messaging-list-title-name">' + user3.fullName + '</div>'
                    );
                    tags3.forEach(function (tag) {
                        propuestaUser3.append(
//                            '<div class="messaging-list-title-last color-default">' + tag.name + '</div>'
                            '<span class="label label-default tag-margin margin-horizontal-5-obligatory">' + tag.name + '</span>'
                        )
                    });
                    propuestaUser3.append('</div>')
                },
                error: function (e) {
                    console.log(e);
                }
            });
            var propuestaUser3items = $('#propuesta-user3items');
            propuestaUser3items.html("");
            itemsUser3.forEach(function (item) {
                propuestaUser3items.append(
                    '<td>' +
                    '<div class="cui-ecommerce--dashboard--list--img avatar">' +
                    '<img src="' + item.photo1 + '" alt="Imagen"/>' +
                    '</div>' +
                    '<p>' + item.name + '</p>' +
                    '</td>'
                );
            });
        };

    </script>
</th:block>
</html>