<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>

</head>
<th:block layout:fragment="content">
    <section class="page-content">
        <div class="page-content-inner">
            <section class="panel">
                <div class="page-content-inner">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class="btn btn-success margin-inline pull-right" data-toggle="modal" data-target="#new-tag">Nueva</button>
                                <h4>Tags</h4>

                                <br />
                                <div class="margin-bottom-50">
                                    <table class="table table-hover nowrap" id="table-tags" width="100%">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nombre</th>
                                            <th>Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="tag : ${tags}">
                                            <td th:text="${tag.id}">Name</td>
                                            <td th:text="${tag.name}">Last Name</td>
                                            <td>
                                                <a href="javascript:void(0)" data-toggle="modal" data-target="#edit-tag" class="btn btn-success btn-xs btn-edit edit-tag">Editar</a>
                                                <button type="button" class="btn btn-danger btn-xs btn-delete-tag ladda-button" data-style="zoom-in" th:attr="data-id=${tag.id}">Delete</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <div class="modal fade" id="new-tag" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Nuevo Tag</h4>
                </div>
                <form action="/tags" method="POST" name="tag">
                    <div class="modal-body">

                        <p>Agregar un Nuevo Tag</p>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label" for="l0">Nombre</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Nombre" id="l0" name="name"/>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-tag" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Editar Tag</h4>
                </div>
                <form th:method="PUT" name="tag" id="edit-tag-form">
                    <div class="modal-body">

                        <input type="hidden" class="form-control" id="edit-tag-id" name="id"/>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="form-control-label" for="l0">Nombre</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Nombre" id="edit-tag-name" name="name"/>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Page Scripts -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var table;

        $(function () {
            table = $('#table-tags').DataTable({
                autoWidth: true,
                scrollX: true,
                fixedColumns: true
            });
        });

        $(".edit-tag").click(function(e){
            e.preventDefault();
            var td = $(this).parents('tr').find('td:lt(2)');
            var tagId = $(td[0]).text()
            $('#edit-tag-id').val(tagId);
            $('#edit-tag-name').val($(td[1]).text());
            $('#edit-tag-form').attr('action', "/tags/" + tagId);
        });

        $('.btn-delete-tag').on('click', function(){
            var l = Ladda.create(this);
            l.start();
            var btn = $(this);
            var tagId = btn.data('id');

            $.ajax({
                type: 'DELETE',
                url: '/tags/' + tagId,
                contentType: 'application/json',
                success: function (data) {
                    l.stop();
                    if(data){
                        table.row(btn.parents('tr')).remove().draw();
                        swal("Eliminado", "El tag ha sido correctamente eliminado", "success");
                    }else{
                        swal("Error", "No es posible eliminar un tag con items asociados", "error");
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            });
        });

        /*]]>*/
    </script>
</th:block>
</html>