<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
    <link rel="stylesheet" type="text/css" href="../static/common/css/source/custom/trueques.css" th:href="@{/common/css/source/custom/trueques.css}"/>
</head>
<th:block layout:fragment="content">
    <section class="page-content">
        <div class="page-content-inner">
            <section class="panel">
                <div class="page-content-inner">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">

                                <div class="row">
                                    <div class="col-sm-12 col-md-9 margin-bottom-50">
                                        <h4>Trueques</h4>

                                        <br />
                                        <table class="table table-hover nowrap" id="table-trueques" width="100%">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Estado</th>
                                                <th>Personas</th>
                                                <th>Propuesta</th>
                                                <th>Confirmación</th>
                                                <th>FInalización</th>
                                                <th>Rechazo</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="trueque : ${trueques}" class="trueque" th:attr="data-id=${trueque.id}">
                                                <td th:text="${trueque.id}"></td>
                                                <td><span class="label label-info" th:text="${trueque.status}"></span></td>
                                                <td th:text="${trueque.peopleCount}"></td>
                                                <td th:text="${trueque.proposalDate}?${#dates.format(trueque.proposalDate, 'dd-MM-yyyy HH:mm')}"></td>
                                                <td th:text="${trueque.acceptanceDate}?${#dates.format(trueque.acceptanceDate, 'dd-MM-yyyy HH:mm')}"></td>
                                                <td th:text="${trueque.endingDate}?${#dates.format(trueque.endingDate, 'dd-MM-yyyy HH:mm')}"></td>
                                                <td th:text="${trueque.rejectionDate}?${#dates.format(trueque.rejectionDate, 'dd-MM-yyyy HH:mm')}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-12 col-md-3 margin-bottom-50">
                                        <h4>Detalle</h4>
                                        <hr/>
                                        <br />
                                        <div id="trueque-detail" class="container"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <script>
        $(function () {
            $('#table-trueques').DataTable({
                autoWidth: true,
                scrollX: true,
                fixedColumns: true
            });
        });

        $('.trueque').on('click', function(){
            $('#trueque-detail').html(
                '<div class="loader-little"></div>'
            );
            let truequeId = $(this).data('id');
            getTrueque(truequeId)
        });

        getTrueque = function(truequeId){
            $.ajax({
                type : "get",
                url : "/trueques/" + truequeId,
                success : function(data) {
                    displayTruequeDetail(data);
                },
                error : function(e) {
                    console.log("ERROR: ", e);
                }
            });
        };

        displayTruequeDetail = function(data){
            let detail = $('#trueque-detail');
            detail.html("");
            Object.keys(data).forEach(function(u){
                let li = document.createElement("LI");
                li.appendChild(document.createTextNode(u));
                li.setAttribute("class", "trueque-item");
                let ul = document.createElement("UL");

                data[u].forEach(function(item){
                    let itemNode = document.createElement("LI");
                    itemNode.appendChild(document.createTextNode(item.name));
                    itemNode.setAttribute("class", "trueque-item");
                    ul.appendChild(itemNode);
                });

                li.appendChild(ul);
                detail.append(li);

                $('#get-items').removeClass('display-none')
            });
        };
    </script>
</th:block>
</html>