<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
    <link rel="stylesheet" type="text/css" href="../static/common/css/source/custom/profile.css" th:href="@{/common/css/source/custom/profile.css}"/>
</head>
<th:block layout:fragment="content">
<section class="page-content">
<div class="page-content-inner">

    <!-- Profile Header -->
    <section class="panel panel-with-borders page-content-inner">
        <div class="panel-heading row">
            <div class="col-lg-3 col-md-3 col-3">
                <img class="center-block avatar-circle" id="profilePhoto" th:src="${user.photo1}"/>
            </div>
            <div class="col-lg- col-md-9 col-9">
                <h2 class="col-lg-12 col-md-12" th:text="${user.name}" ></h2>
                <p class="col-lg-12 col-md-12" th:text="${user.username}"></p>
                <p class="col-lg-12 col-md-12" th:text="${user.email}"></p>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                    <div class="col-lg">
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <section class="panel panel-profile profile-user-content">
                                        <div class="panel-body">
                                            <div class="nav-tabs-horizontal">
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#posts" role="tab">
                                                            <i class="icmn-menu3"></i>
                                                            Items
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#messaging" role="tab">
                                                            <i class="icmn-image-compare"></i>
                                                            Trueques
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#comentarios" role="tab">
                                                            <i class="fa fa-description-o"></i>
                                                            Comentarios
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tags" role="tab">
                                                            <i class="fa fa-tags"></i>
                                                            Tags
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#denuncias" role="tab">
                                                            <i class="fa fa-exclamation-triangle"></i>
                                                            Denuncias
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#comunicacion" role="tab">
                                                            <i class="fa fa-envelope-o"></i>
                                                            Mandar mensaje a <span th:text="${user.name}"></span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#edit" role="tab">
                                                            <i class="fa fa-pencil"></i>
                                                            Editar datos
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content padding-vertical-20 active">
                                                    <div th:if="${hasItems}" class="tab-pane active" id="posts" role="tabpanel">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="margin-bottom-50">
                                                                    <table class="table table-hover nowrap" id="tbl-items" width="100%">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>Imagen</th>
                                                                            <th>Nombre</th>
                                                                            <th>Categoria</th>
                                                                            <th>Estado</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr  th:each="item : ${user.getItems()}" class="item-row pointer" th:attr="data-id=${item.id}">
                                                                            <td><a th:href="'/profile/items/' + ${item.id}">
                                                                                <img width="100px" th:src="${item.photo1}"/>
                                                                            </a></td>
                                                                            <td th:text="${item.name}">Nombre</td>
                                                                            <td th:text="${item.category.name}">Categoria</td>
                                                                            <td><span class="label label-info" th:text="${item.getStatusValue()}">Estado</span></td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div th:if="${!hasItems}" class="tab-pane active" id="posts" role="tabpanel">
                                                        Parece que este usuaio no tiene items.
                                                    </div>
                                                    <div class="tab-pane" id="messaging" role="tabpanel">
                                                        <div class="tab-pane active" id="posts" role="tabpanel">
                                                            <h5>Trueques</h5>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="margin-bottom-50">
                                                                        <table class="table table-hover nowrap" id="tbl-items" width="100%">
                                                                            <thead>
                                                                            <tr>
                                                                                <th>Fecha de Propuesta</th>
                                                                                <th>Participantes</th>
                                                                                <th>Estado</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr th:each="trueque : ${trueques}">
                                                                                <td th:text="${#dates.format(trueque.proposalDate, 'dd-MM-yyyy')}"></td>
                                                                                <td th:text="${trueque.peopleCount}"></td>
                                                                                <td><span class="label label-info" th:text="${trueque.status}"></span></td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="comentarios" role="tabpanel">
                                                        <h5>Comentarios</h5>
                                                        <hr/>
                                                        <div th:if="${hasComments}">
                                                            <div class="user-wall">
                                                                <div class="user-wall-item clearfix" th:each="description : ${comments}">
                                                                    <div class="s1">
                                                                        <a class="avatar" href="javascript:void(0);">
                                                                            <img th:src="${description.user_origin.photo1}" />
                                                                        </a>
                                                                    </div>
                                                                    <div class="s2">
                                                                        <div class="user-wall-item-head">
                                                                            <div class="pull-right">
                                                                                <a href=""><i class="icmn-compass"></i></a>
                                                                            </div>
                                                                            <strong th:text="${description.user_origin.name}">Name</strong>
                                                                            <small th:text="${description.date}"></small>
                                                                        </div>
                                                                        <div class="user-wall-post">
                                                                            <p th:text="${description.description}">Comentario</p>
                                                                        </div>
                                                                        <div class="user-wall-controls">
                                                                            <div class="cui-ecommerce--product--rating">
                                                                                <i class="icmn-star-full" th:each="i : ${#numbers.sequence( 1, description.score)}"></i>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <a href="javascript: void(0);" class="btn btn-default width-full">Ver Más</a>
                                                            </div>
                                                        </div>
                                                        <div th:if="${!hasComments}">
                                                            <p th:text="${'Parece que no hay comentarios sobre ' + user.name + ' por el momento'}"></p>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="tags" role="tabpanel">
                                                        <h5>Tags</h5>
                                                        <hr/>
                                                        <div th:if="${hasTags}">
                                                            <span th:each="tag : ${tags}" class="label label-default tag-margin" th:text="${tag.name}">Tag</span>
                                                        </div>
                                                        <div th:if="${!hasTags}">
                                                            <p th:text="${'Parece que no hay tags creados por ' + user.name + ' hasta ahora'}"></p>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="denuncias" role="tabpanel">
                                                        <h5>Denuncias</h5>
                                                        <hr/>
                                                        <div th:if="${hasComplaints}">
                                                            <div class="user-wall">
                                                                <div class="user-wall-item clearfix" th:each="complaint : ${complaints}">
                                                                    <div class="s1">
                                                                        <a class="avatar" href="javascript:void(0);">
                                                                            <img th:src="${complaint.user_origin.photo1}" />
                                                                        </a>
                                                                    </div>
                                                                    <div class="s2">
                                                                        <div class="user-wall-item-head">
                                                                            <div class="pull-right">
                                                                                <a href=""><i class="icmn-compass"></i></a>
                                                                            </div>
                                                                            <strong th:text="${complaint.user_origin.name}">Name</strong>
                                                                        </div>
                                                                        <div class="user-wall-post">
                                                                            <p th:text="${complaint.description}">Comentario</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <a href="javascript: void(0);" class="btn btn-default width-full">Ver Más</a>
                                                            </div>
                                                        </div>
                                                        <div th:if="${!hasComments}">
                                                            <p th:text="${'Parece que no hay comentarios sobre ' + user.name + ' por el momento'}"></p>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="comunicacion" role="tabpanel">
                                                        <h5>Mandar mensaje a <span th:text="${user.name}"></span> </h5>
                                                        <hr/>
                                                        <form th:action="@{'/users/mensaje/'+${user.username}}" th:method="POST">

                                                            <div id="formSendEmail" class="col-lg-12">
                                                                <div class="form-group">

                                                                    <label class="control-label col-md-12 padding-5">Para</label>

                                                                    <div class="col-md-12 ">
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon">
                                                                                <i class="icmn-mail2"></i>
                                                                            </span>
                                                                            <input type="email" class="form-control" th:value="${user.email}" id="l2"/>
                                                                        </div>
                                                                    </div>

                                                                    <label class="control-label col-md-12 padding-5">Asunto</label>
                                                                    <div class="col-md-12">
                                                                        <input type="text" th:value="*{subject}" class="form-control" name="subject" id="subject"/>
                                                                    </div>

                                                                    <label class="control-label col-md-12 padding-5">Mensaje</label>

                                                                    <textarea th:value="*{text}" id="text" name="text" class="margin-left-15 form-control col-md-11" />


                                                                </div>

                                                                <button type="submit" class="margin-left-20 margin-top-40 btn btn-primary">Enviar Mensaje</button>

                                                            </div>

                                                        </form>
                                                    </div>
                                                    <div class="tab-pane" id="edit" role="tabpanel">
                                                        <h5>Editar</h5>
                                                        <hr/>
                                                        <form th:action="@{'/users/'+${user.id}}" th:method="PUT" th:object="${user}">
                                                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                                            <input type="hidden" th:field="${user.id}" />
                                                            <input type="hidden" th:field="${user.username}" />
                                                            <input type="hidden" th:field="${user.email}" />
                                                            <input type="hidden" th:field="${user.password}" />
                                                            <div class="container">
                                                                <div class="form-group">
                                                                    <div class="col-md-4">
                                                                        <label class="form-control-label">Nombre</label>
                                                                        <input type="text" class="form-control" placeholder="Nombre" th:field="${user.name}"/>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-4">
                                                                        <label class="form-control-label">Apellido</label>
                                                                        <input type="text" class="form-control" placeholder="Apellido" th:field="${user.last_name}"/>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-4">
                                                                        <label class="form-control-label">Foto</label>
                                                                        <input type="text" class="form-control" placeholder="Imagen" th:field="${user.photo1}"/>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-4">
                                                                        <label class="form-control-label">Score</label>
                                                                        <input type="text" class="form-control" placeholder="Score" th:field="${user.score}"/>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-4">
                                                                        <label class="form-control-label">Status</label>
                                                                        <input type="text" class="form-control" placeholder="Status" th:field="${user.status}"/>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-4">
                                                                        <label class="form-control-label">Cantidad de items</label>
                                                                        <input type="text" class="form-control" placeholder="Cantidad de Items Activos" th:field="${user.itemsAmount}"/>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="col-md-12">
                                                                        <button type="submit" class="margin-top-15 btn btn-primary">Aceptar</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <!-- End Profile -->

</div>
<!-- Page Scripts -->
    <script th:inline="javascript">
        /*<![CDATA[*/

        var score = [[${user.score}]]/2;
        var i;
        for(i = 0; i < score; i++){
            $('.stars').append('<i class="icmn-star-full"></i>');
        }
        for(i; i < 5; i++){
            $('.stars').append('<i class="icmn-star-empty"></i>');
        }

        $(document).ready(function(){
            $('.item-row').on('click', function(){
                let itemId = $(this).data('id');
                window.location.href = "/items/" + itemId;
            });
        });


        /*]]>*/
    </script>
<!-- End Page Scripts -->
</section>
<div class="main-backdrop"><!-- --></div>

</th:block>
</html>